/* iOS Cordova Tweak */

.device-cordova.device-ios {
    height: 100vh;
}

:root {
    --f7-theme-color: #009688;
    --f7-theme-color-rgb: 0, 150, 136;
    --f7-theme-color-shade: #006d63;
    --f7-theme-color-tint: #00bfad;
}

.demo-card-header-pic {
    margin-bottom: 2.5vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.card {
    margin-bottom: 2.5vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.demo-card-header-pic .card-header {
    height: 35vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}


/* Your app custom styles here */